@media screen and (max-width: 680px){
    .mobileHidden{
        display: none;
    }
    .googleMap{
        width: auto;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
}