.headContainerCook{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}
.mainJumbotron > #topHeadContainerDivider{
    margin-bottom: 200px;
}
.mainJumbotron > p{
    margin-bottom: 250px;
}
#endMainJumbotrondivider{
    margin-bottom: 30px;
}
.container-fullwidth h1{
    text-align: center;
}
.topDivider{
    margin-top: 70px;
}
.contentRow{
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.description{
    margin-top: 30px;
}
.descriptionConditions{
    list-style: none;
}
.container-fullwidth .openApplication{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contentRow{
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.openApplication{
    display: block;
    margin: auto;
}
.openApplication a{
   text-decoration: none;
    color: inherit;
}
.workRows{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.workColToAlign{
    margin-top: 27px;
    margin-bottom: 50px;
}
@media screen and (max-width: 680px){
    /*Start JumboTron*/
    .mainJumbotron > #topHeadContainerDivider{
        margin-bottom: 150px;
    }
    .mainJumbotron > img{
        margin-bottom: 20px;
    }
    .mainJumbotron > #endMainJumbotrondivider{
        margin-bottom: 55px;
    }
    /*End JumboTron*/
    
    /*Start Body*/
    .pageHeader, .display-3{
        font-size: 36px;
    }
    .contentRow{
        margin: 0px;
    }
    /*End Body*/
    
    .workColToAlign{
        margin-bottom: 0px;
        margin-bottom: 0px;
    }
    .workRows div{
        margin-bottom: 20px;
    }

    
}