/*Start dropping out*/
/*Hide checkboxed and rest content*/
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* label style */
.hide + label {
    padding: 0;
    cursor: pointer;
    display: inline-block; 
}
/* switch label view once active */
.hide:checked + label {
    border-bottom: 0;
}
/* when check box is active display content  */
.hide:checked + label + div {
    display: block; 
    padding: 10px; 
}
/*End dropping out*/

/*Start Jumboptron*/
.headContainer{
    background-image: url(../assets/reports/jumboTron.jpg);
}
.mainJumbotron > img{
    margin-top: 150px;
}
#endMainJumbotrondivider{
    margin-top: 215px;
}
.historyJumbotron{
    background-color: none;
    background: none;
}
/*End Jumboptron*/

/*Start Body*/
.contentRow{
    margin-bottom: 30px;
    margin-left: 170px;
    margin-right: 170px;
}
.contentRow > div {
    border: 2px solid black;
    text-align: center;
}
.contentRow > div > label {
    font-size: 36px;
}
.contentRow > div > label:hover {
    text-decoration: underline;
}
.downloadReport{
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}
.downloadReport:hover, .downloadReport > svg:hover{
    background: none;
    color: #b392f0;
    fill: black;
}
/*End Body*/

@media screen and (max-width: 680px){
    .mainJumbotron > img{
        margin-top: 0px;
    }
    .contentRow{
        margin: 10px;
        margin-top: 30px;
    }
    .contentRow > div > label {
        font-size: 20px;
    }
    embed{
        width: 100%;
        height: 100%;
    }
}
