<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="InstanceUrl" value="https://www.google.com/" />
    <Parameter name="ApiInstanceUrl" value="https://api.trello.com/1/" />
    <!--Browser should be: chrome, firefox-->
    <Parameter name="Browser" value="chrome" />
    <Parameter name="Headless" value="false" />
    <Parameter name="StepRecordingEnabled" value="true" />
    <Parameter name="Username" value="User" />
    <Parameter name="Password" value="7zCMUuK8trCSLQf" />
    <Parameter name="Email" value="ogtestacc@gmail.com" />
    <Parameter name="TestsReportDirectory" value="../../../TestsData/TestsReports" />
    <Parameter name="TestsAssetDirectory" value="../../../TestsData/TestsAssets" />
    <!--API-->
    <Parameter name="ApiKey" value="caa74d61a0599b24da6eab8f96524343" />
    <Parameter name="ApiToken" value="1e96f1a913c85887a39d395ec4417b6030f08a6b10a8bf90818534a79f27eb60" />
    <!--DB-->
    <Parameter name="DBServer" value="default" />
    <Parameter name="DBName" value="default" />
    <Parameter name="DBUserId" value="default" />
    <Parameter name="DBUserPass" value="default" />
	<!--Zephyr-->
	<Parameter name="PublishToZephyr" value="false" />
	<Parameter name="ZephyrToken" value="0" />
	<Parameter name="BuildId" value="0" />
	<Parameter name="Branch" value="develop" />  
  </TestRunParameters>
</RunSettings>