body{
    background-color: none;
    height: 100%;
    color: black;
}
@media screen and (max-width: 680px){
    .display-3{
        font-size: 45px;
    }
    .lead{
        font-size: 18px;
    }
}
