.divider{
    margin-top: 20px;
    width: 82.5%;
    background-color: black;
}
.topDivider{
    margin-top: 30px;
}
.endDivider{
    margin-bottom: 70px;
    margin-top: 10px;
}
@media screen and (max-width: 680px){
    .divider{
        width: 100%;
    }
}